@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ibm-plex-sans-condensed), sans-serif;
}

.bg-photo-1 {
  @apply bg-[url(/images/background/photo/1.png)];
}
.bg-photo-2 {
  @apply bg-[url(/images/background/photo/2.png)];
}
.bg-photo-3 {
  @apply bg-[url(/images/background/photo/3.png)];
}
.bg-photo-4 {
  @apply bg-[url(/images/background/photo/4.png)];
}
.bg-photo-5 {
  @apply bg-[url(/images/background/photo/5.png)];
}
.bg-photo-6 {
  @apply bg-[url(/images/background/photo/6.png)];
}
