:root {
    --text-color: #000;
    --text-color-invert: #fff;
    --text-color-action: #0066FA;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
ul, menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
address {
    font-style: normal;
}

/** CTA */

a {
    color: var(--text-color);
    text-decoration: none;

    &:visited {
        color: var(--text-color);
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.button {
    display: inline-flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 2.2rem;
    padding: .8rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #fff;
    overflow: hidden;

    &.primary {
        background: #FF4758 url("/static/assets/background/background.svg") repeat center center;
        background-size: cover;
        padding: .3rem;

        & > span {
            display: flex;
            align-items: center;
            padding: .8rem 2rem;
            border-radius: 2.7rem;
            background-color: #fff;
            line-height: 2.5rem;
        }
        img {
            margin: 0 .5rem 0 0;
        }
    }

    &.blue {
        color: var(--text-color-action);
    }

    &.bg-purple {
        background-color: #5e4cbb;
        color: var(--text-color-invert);
    }

    &.link {
        border: .1rem solid var(--text-color-action);
        padding: .6rem .8rem .6rem 1.6rem;
        color: var(--text-color-action);
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            background-color: var(--text-color-action);
            top: 0;
            right: 0;
            bottom: 0;
            left: 100%;
            transition: left .3s ease-in;
        }
        &:hover {
            color: var(--text-color-invert);
            transition: .3s ease-in;

            &::before {
                left: 0;
            }
        }

        span {
            z-index: 1;
        }
    }

    .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .4rem;
        margin-left: .8rem;
        border-radius: 50%;
        background-color: #0066FA;
        color: var(--text-color-invert);

        img {
            width: auto;
            height: 2.4rem;
        }
    }
}

html {
    font-size: 62.5%;
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    * {
        box-sizing: border-box;
    }
}

/* Main Page Layout & Components */

body {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--text-color);

    & > nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        margin: 2.4rem auto;
        padding: .8rem 5.6rem 1.4rem 5.6rem;
        border-radius: 2rem;
        background: #19009E url("../assets/background/bg-gradiant-blue.jpg") no-repeat bottom left;
        z-index: 10;

        & > menu {
            flex-grow: 1;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;

            li {
                a {
                    color: var(--text-color-invert);
                    font-weight: 600;
                    &:visited {
                        color: var(--text-color-invert);
                    }
                }
            }
        }
    }

    & > header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rebeccapurple;
        width: 100%;
        color: var(--text-color-invert);

        & > section {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: 1060px;

            h1, h2 {
                font-style: normal;
                font-weight: 600;
                margin: 0;
            }
            h1 {
                font-family: "Montserrat", sans-serif;
                font-size: 4.8rem;
                line-height: 5.8rem;
            }

            h2 {
                display: inline-block;
                position: relative;
                font-size: 3rem;
                line-height: 4rem;
                z-index: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: -.7rem;
                    width: calc(100% + 1.4rem);
                    height: 1.6rem;
                    background-color: #0066FA;
                    z-index: -1;
                }
            }

            article {
                max-width: 620px;

                p {
                    font-family: "Montserrat", sans-serif;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 3rem;
                    margin: 2.4rem 0 3.2rem;
                }

                ul {
                    font-size: 0;

                    li {
                        display: inline-flex;
                        align-items: center;
                        margin: 0 1.2rem 1.2rem 0;
                        padding: .8rem 2.5rem;
                        border-radius: 2.5rem;
                        background-color: rgba(222, 222, 222, .2);
                        backdrop-filter: blur(1rem);
                        font-size: 1.6rem;

                        img {
                            margin-right: .8rem;
                        }
                    }
                }
            }

            aside {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                .countdown {
                    .time {
                        display: block;
                        font-size: 6.4rem;
                        font-weight: 700;
                        line-height: 7.2rem;
                    }
                    .timebar {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 2.1rem;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .sponsors {
        overflow: hidden;
        background: #443399 url("../assets/background/bg-gradiant-purple.jpg") no-repeat;
        background-size: cover;
        color: var(--text-color-invert);

        header {
            border-radius: 1rem;
            background: #1a009e;/*ToDo background image*/
            margin-bottom: 2.4rem;

            h3 {
                margin: 0;
            }

            menu {
                li {
                    display: inline-block;
                }
            }
        }

        ul {
            margin: -.5rem;
            font-size: 0;
            line-height: 0;
            clear: both;

            li {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                float: left;
                margin: .5rem;
                background-color: rgba(9, 4, 30, .8);
                backdrop-filter: blur(10px);
                border-radius: 1rem;

                .badge {
                    position: absolute;
                }
                .sponsor {
                    max-width: 100%;
                }
            }
        }
    }

    & > footer {
        overflow: hidden;
        background: #19009E url("../assets/background/bg-gradiant-blue.jpg") no-repeat bottom left;
        background-size: cover;
        border-radius: 3rem 3rem 0 0;
        color: var(--text-color-invert);

        & > section {
            background: url("../assets/background/footer/background.svg") no-repeat bottom;
            background-size: contain;

            h4 {
                margin: 0;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 2.7rem;
                text-transform: uppercase;
            }

            p {
                margin: 1.6rem 0 4.8rem 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 2.1rem;
            }

            .links {
                display: flex;
                flex-flow: row wrap;
                align-content: start;

                li {
                    margin: 0 0 1.6rem 0;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 2.4rem;

                    &::before {
                        display: inline-block;
                        content: "â—";
                        margin-right: .8rem;
                        color: #EE6524;
                        font-size: 1rem;
                        line-height: 1;
                        vertical-align: middle;
                    }

                    a, a:visited {
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        color: inherit;
                    }
                }
            }

            .copyright, .ma-support {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.8rem;

                img {
                    height: 2.1rem;
                    width: auto;
                    vertical-align: middle;
                    margin-left: .8rem;
                }
            }

            .socials {
                margin: 1.5rem 0;
                text-align: right;

                li {
                    display: inline-block;
                    margin-left: .8rem;
                    border-radius: 50%;
                    background-color: #fff;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}

/*
 LAYOUTS
*/

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to higher resolution desktops
*/

@media (min-width: 1025px) {

    body {
        & > nav {
            min-width: 1025px;

            .burger-menu {
                display: none;
            }
        }

        & > header {
            min-height: 71.2rem;
        }

        .sponsors {
            padding: 5rem;

            header {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                max-width: 134rem;
                margin: 0 auto;
                padding: 1.2rem 5.4rem;

                h3 {
                    display: inline-block;
                    font-size: 3rem;
                    font-weight: 400;
                    line-height: 4rem;
                }

                menu {
                    li {
                        margin-left: 1.6rem;
                    }
                }
            }

            ul {
                max-width: 135rem;
                margin: 2.4rem auto 4.5rem auto;

                li {
                    &.platinum {
                        padding: 5.7rem;
                        width: 44rem;
                        height: 56rem;

                        .badge {
                            top: 2.4rem;
                            right: 2.4rem;
                            height: 8rem;
                            width: auto;
                        }
                    }
                    &.gold {
                        padding: 2.4rem;
                        width: 29rem;
                        height: 18rem;

                        .badge {
                            top: 1.2rem;
                            right: 1.2rem;
                            height: 5rem;
                            width: auto;
                        }
                    }
                    &.silver {
                        padding: 2.2rem;
                        width: 26rem;
                        height: 15rem;

                        .badge {
                            top: 1.2rem;
                            right: 1.2rem;
                            height: 4rem;
                            width: auto;
                        }
                    }
                    &.bronze {
                        padding: 2rem;
                        width: 18.2rem;
                        height: 8.5rem;

                        .badge {
                            top: 1.1rem;
                            right: 1.1rem;
                            height: 2.5rem;
                            width: auto;
                        }
                    }
                }
            }
        }

        & > footer {
            & > section {
                display: flex;
                flex-flow: row nowrap;
                padding-bottom: 11vw;
                margin: 4.8rem 6.4rem 0 6.4rem;

                .logo {
                    margin-right: 9.6rem;
                }
            }
        }
    }

}

/*
  ##Device =  Most of the Smartphones Mobiles, Tablets, Ipads (portrait)
  ##Screen = B/w 320px to 1024px
*/

@media (min-width: 320px) and (max-width: 1024px) {

    body {
        & > nav {
            justify-content: end;
            width: 100%;
            border-radius: 0 0 2rem 2rem;
            margin: 0;
            padding: 1.6rem 1.6rem 1.6rem 2.4rem;

            .logo {
                position: absolute;
                left: 2.4rem;
                width: 5rem;
                height: auto;
            }

            & > menu {
                display: none;
            }

            .burger-menu {
                display: inline-block;
                margin-left: 1.6rem;
                padding: 0;
            }
        }

        & > header {
            min-height: 54.5rem;
            & > section {
                margin: 15.5rem 2.4rem 6.8rem 2.4rem;
                aside {
                    display: none;
                }
            }
        }

        .sponsors {
            padding: 4rem 2.5rem;

            header {
                padding: 1.2rem 1.6rem;

                h3 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 3.4rem;
                }

                menu {
                    margin-top: .8rem;
                    li {
                        margin-right: .8rem;
                    }
                }
            }

            ul {
                margin: 2.4rem auto 4rem auto;

                li {
                    &.platinum {
                        padding: 5.7rem;
                        width: 32.5rem;
                        height: 16rem;

                        .badge {
                            top: 1.5rem;
                            right: 1.5rem;
                            height: 5.5rem;
                            width: auto;
                        }
                    }
                    &.gold {
                        padding: 2.4rem;
                        width: 15.7rem;
                        height: 9.8rem;

                        .badge {
                            top: .7rem;
                            right: .7rem;
                            height: 2.7rem;
                            width: auto;
                        }
                    }
                    &.silver {
                        padding: 2.2rem;
                        width: 10.1rem;
                        height: 5.9rem;

                        .badge {
                            top: .5rem;
                            right: .5rem;
                            height: 1.6rem;
                            width: auto;
                        }
                    }
                    &.bronze {
                        padding: 2rem;
                        width: 10.1rem;
                        height: 4.8rem;

                        .badge {
                            top: .6rem;
                            right: .6rem;
                            height: 1.4rem;
                            width: auto;
                        }
                    }
                }
            }
        }

        & > footer {
            & > section {
                padding-bottom: 10vw;
                margin: 4.8rem 2.4rem 0 2.4rem;

                .ma-support {
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 2.4rem;
                }

                .copyright {
                    margin-top: .8rem;

                    span {
                        display: block;
                    }
                }
            }

            .logo {
                display: none;
            }
        }
    }

}
